@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');

@font-face{
	font-family: Lobster;
	src: url("Lobster-Regular.ttf");
}

body  {
	background-color:	aqua;
	background-image: 	url(../files/images/olas.png);
	width: 				90%;
	margin-left: 		auto;
	margin-right: 		auto;
}

#oscuro{
	background-color:	rgb(82,82,82);
}

#inicio{
	background-color:	brown;
	border-radius:		5px;
	color:				pink;
	padding:			4px;
	position: 			absolute;
	top: 				20px;
	left: 				100px;
}

/*Float************************************************************************/

#Float{
	font-family: 		"Times New Roman", Times, serif;
}

#Float section{
	float: 				left;
	width:				37%;
	margin: 			5px;
	padding:			10px;
}

#Float aside{

	margin: 			5px;
	padding: 			8px;
	float:				right;
	width:				18rem;
}
#Float h1{
	font-size:			2em;
}

#Float h3{
	font-size:			1.2em;
}

#Float video{
	position:			relative;
	width:				90%;
}

#Float sup{
	color:				pink;
}

#Float footer{
	float: right;
	padding:			1px 0px 1px 0px;
	width:				100%;
}

/*Absolute*********************************************************************/

#Absolute{
	position:			absolute;
	font-family: 		Lobster;
}
#Absolute header{
	width: 				269.1%;
}
#Absolute nav{
	width: 				262%;
}

#mundi{
    position: 			absolute;
    width: 				110%;
    padding: 			0% 5% 2% 5%;
	background-color: 	hsl(120, 100%, 23%, 45%);
}

#mundi img{
	border-radius: 		10%;
	border: 			2px solid #000000;
}

.mini{
	position: 			absolute;
	top:	 			100%;
	left: 				128%;
	width:				120%;
	height:				174%;
    padding: 			1%;
    background-color: 	hsl(120, 100%, 23%, 45%);
	border-radius:		20px;

}

.mini img{
	border-radius:		10px;
	width: 				300px;
	height:				200px;
	border: 			2px solid #000000;

}

#north{
	position:			absolute;
	left: 				3%;
}

#east{
	position:			absolute;
	left: 				52%;
}

#west{
	position:			absolute;
	top: 				50%;
	left: 				3%;
}

#south{
	position:			absolute;
	left: 				52%;
	top: 				50%;
}

#Absolute aside{
	line-height: 		70px;
	position: 			absolute;
	left: 				259%;
	width:				10%;
	padding: 			25px 0px 25px 0px;
	color: 				white;
	border-radius:		20px;
	background-color: 	hsl(120, 100%, 23%, 45%);
	text-align:			center;
}

#line{
	background-color: 	hsl(120, 100%, 23%, 45%);
    position: 			absolute;
    width: 				259%;
    top: 				283%;
    padding: 			0% 5% 2% 5%;
}

#line img{
	border-radius: 		10%;
	border: 			2px solid #000000;
}

#Absolute footer{
	position: 			absolute;
    width: 				269%;
    top: 				950px;
}

/*Flex*************************************************************************/

#Flex{
	display:			flex;
	flex-wrap:			wrap;
	gap: 				10px;
	font-family: 		"Ribeye Marrow", Cursive;
}

#Flex header{
	flex:				100%;
}

#Flex nav{
	flex: 				100%;
}

#Flex #left{
	flex:				29%;
}

#imp{
	font-size: 			70%;
	list-style-type: 	upper-roman;
}

#im{
	list-style-type: 	disc;
}

#Flex #center{
	flex:				29%;
}

#Flex #right{
	flex:				29%;
}

#Flex footer{
	flex:				100%;
}
table{
	background-color:	rgba(00, 255, 255, 10%);
	margin-left: 		auto;
	margin-right: 		auto;
	width: 				90%;
	margin-bottom: 		20px;
}

th:active, td:active{
	border-style:		inset;
}


#left .unico li:hover .info{
	display: 			block;
	padding-left: 		35%;
	float:				center;
}

#im1:hover .infoIm{
	display: 			block;
	padding-left: 		35%;
	float:				center;
}

#im li:hover .info{
	display: 			block;
	padding-left: 		35%;
	float:				center;
}

.info{

	display: 			none;
}

.infoIm{

	display: 			none;
}

td:not(active) .post{
	display: 			none;
}

td:active .post{
	display: 			inline;
}

td:active .pre{
	display: 			none;
}


td:hover, th:hover {
	background-color: 	rgb(00, 255, 255);
}

th, td {
	border-style:		outset;
	border-radius:		10px;

}

/*Display*Table****************************************************************/

#dTable{
	display:			table;
	width:				97.8%;
	padding:			20px;
	border-spacing:		15px;
	border-radius:		20px;
	background-color: 	rgba(55,55,55, 80%);
	text-align: 		center;
}

#nombres, #jefe, #subs, #subs2, #subs3{
	display: 			table-row;
}

#dTable p{
	font-family: 		Cursive, Brush Script MT;
	font-size:			1.5em;
    width: 				448px;
    height: 			75px;
    display: 			table-cell;
    background-color: 	rgba(100, 20, 30, 40%);
	padding: 			5px;
    border-radius:		10px;
    color: 				rgba(200, 200, 200, 70%);
    vertical-align: 	middle;
}

#dTable h1{
	padding-left:		100%;
	text-decoration:	underline;
	width:				100%;
	font-size: 			2.5em;
    font-family: 		Fantasy, Papyrus;
    color: 				rgb(200, 200, 200);
}

/*Grid*************************************************************************/

#grid{
	display:grid;
    grid-gap: 10px;
    padding:10px;
}

#grid article{
    background-size: cover;
    font-size: 1.1em;
    padding-left: 5px;
    border-radius: 10px;
    margin: 5px;
    color: #FAFAFA;
    background-color: lightseagreen;
    background-image:url("../files/images/pattern.png");
    height: 100%;
}

#grid article a{
    color: #a4d0ff;
    text-decoration:;
}



/*Base*************************************************************************/

header{
	border-radius:		20px;
	background-image: 	url(../files/images/acantilado.jpg);
	height:				180px;
	margin-bottom: 		20px;
	/*box-shadow: 		10px 10px 10px #EDC9AF*/
}

header img.logo{
	margin: 			20px;
	margin-top: 		55px;
}

header .merry{	
	float: 				right;
	margin:				10px;
}

header .sunny{
	float: 				right;
	margin:				10px;
}

header:not(:hover) .merry{
	display:			none;
}

header:hover .sunny{
	display:			none;
}

.titulo{
	padding-bottom: 	50px;
}

nav{
	padding-left:			20px;
	padding-right:			20px;
}

#Absolute .sec:not(nav, footer){
	background-color:	rgba(0, 117, 0, 50%);
}

nav, section, footer, aside{
	opacity:  			92%;
	color: 				white;
	border-radius:		20px;
	background-color: 	#007500;
	text-align:			center;
}

nav{
	padding-top: 		0.01%;
	padding-bottom:		0.01%;
	margin-bottom: 		20px;
}

#Absolute nav{
	padding-top: 		0%;
	padding-bottom:		0%;
	margin-bottom: 		0px;
}


nav li{
	margin:				5%;
	font-weight:		bold;
	font-size:			150%;
	display:			inline;
}

ol{
	margin:				5px;
}

video{
	border-radius:		20px;
}

footer{
	margin-top: 		20px;
	padding:			1px 0px 1px 0px;
}
